@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>ASP.NET- zadanie testowe </h1><br />


    <h3>Witaj na stronie wstępnej!</h3>
    <button><span class="glyphicon glyphicon-search"></span>HI!</button>
    <p>Projekt został wykonany z użyciem technologi MVC, działa on bazie MSSQL. Listy przechowywane są na serwerze w oparciu o model zbiorów zagnieżdżonych, co ułatwia operacje na węzłach.</p>
    <p>W pracy tej został użyty plugin BootboxJS (do wyświetlania komunikatu o usunięciu węzła).</p>


    <br /><h4>Opis oznaczeń:</h4>
    <p>&#9632; -  oznacza węzły,</p>
    <p>&#9675; -  oznacza liście,</p>
    <p><a title="sort">[sort]</a>- przycisk używany do sortowania listy (widoczny tylko, jeśli element nie jest liściem),</p>
    <p><a title="Toggle">[Toggle all]</a>- przycisk do rozwijania/ chowania wszystkich elementów listy</p>
    <br />
    <h5>Dane do logowania:</h5>
    <p>
        login: admin@net.com<br />
        hasło: !Admin123
    </p>
</div>
