@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:250px">
    <h1>ASP.NET</h1>
    <h2 class="lead">Zadanie testowe</h2>
</div>

<div class="row">
    Hi!


    guest@net.com !Guest123
    admin@net.com !Admin123

</div>