@{
    ViewBag.Title = "Home Page";
}

    <div>
        <h1>ASP.NET- zadanie testowe </h1><br />


        <h3>Witaj na stronie wstępnej!</h3>
        <p>Projekt został wykonany z użyciem technologi MVC, działa on bazie MSSQL. Lista przechowywana jest na serwerze w oparciu o model zbiorów zagnieżdżonych, co ułatwia operacje na węzłach.</p>
        <p>W pracy tej został użyty plugin BootboxJS (do wyświetlania komunikatu o usunięciu węzła).</p>


        <br /><h4>Opis oznaczeń:</h4>
        <p>&#9632; -  węzły,</p>
        <p>&#9675; -  liście,</p>
        <p><span class="glyphicon glyphicon-sort"></span> - przycisk używany do sortowania listy (widoczny tylko, jeśli element nie jest liściem),</p>
        <p><span class="glyphicon glyphicon-eye-open"></span> - przycisk do rozwijania/ chowania wszystkich elementów,</p>

        <p><span title="Move Category" class="glyphicon glyphicon-pushpin"></span>- przycisk do przenoszenia elementów</p>
        <p><span title="New Root Category" class="glyphicon glyphicon-plus-sign"></span> - przycisk do dodawania nowego elementu,</p>
        <p><span title="Delete category" class="glyphicon glyphicon-trash"></span> - przycisk do usuwania elementu</p>





        






        









        <br />
        <h5>Dane do logowania:</h5>
        <p>
            login: admin@net.com<br />
            hasło: !Admin123
        </p>
    </div>
