@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:250px">
    <h1>ASP.NET</h1>
    <h2 class="lead">Zadanie testowe</h2>
</div>


    Witaj na stronie wstępnej projektu!

opis oznaczeń:
<p>&#9632;- oznacza węzły,</p>
<p>&#9675;- oznacza liście,</p>
<p><a title="sort">[sort]</a>- przycisk używany do sortowania listy (widoczny tylko, jeśli element nie jest liściem),</p>
<p><a title="Toggle">[Toggle all]</a>- przycisk do rozwijania/ chowania wszystkich elementów listy</p>

        Dane do logowania:

    <br />admin@net.com !Admin123
